EXPO_PUBLIC_SUPABASE_URL=https://fongmnctmbirwowowkpt.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZvbmdtbmN0bWJpcndvd293a3B0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1Mjg3MzAsImV4cCI6MjA5MTEwNDczMH0.d64j8T3iTo0qt6QbuWyREskW7Rs1maCrZwJmGjySI-k